*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    background-color: #eeeeee;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.top_1,.top_11{
    height: 100%;
}
.col-xs-1{
    /* padding-left: 0; */
    padding-right: 0;
}
#top{
    width: 100%;
    height: 80px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    display: flex;
    /* display: none; */
}
#content{
    width: 1349px;
    height: 80px;
    margin: auto;
    display:flex;
}
/*-----------------左边部分----------------*/
#top_left{
    width: 360px;
    height: 80px;
    background-color: #000;
}
.logo{
    width: 90px;
    height: 120px;
    position: absolute;
    z-index: 4;
    text-align: center;
    line-height: 0;
    background-color: #000;
}
.logo .pic{
    /* display: block; */
    width: 30px;
    height: 65px;
    margin: 12px 0 auto;
}
.logo .til{
    display: block;
    width: 50px;
    height: 27px;
    margin: 5px auto;
}
#top_left ul{
    position: absolute;
    left: 90px;
    width: 270px;
    height: 80px;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    list-style: none;
    color: #fff;
}
#top_left ul li{
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    float: left;
    margin-right: 10px;
}
#top_left ul li a{
    text-decoration: none;
    margin-left: 5px;
    color: #fff;
}
.aicon1{
    font-size: 22px;
    color: #fff;
    padding: 4px 0;
    margin-right: 4px;
}
.wor{
    font-size: 16px;
    color: #fff;
}
.topl:hover{
    color: #ffd000;
}
/*-----------------中间部分----------------*/
#top_mid{
    flex: 1;
    height: 80px;
    position: relative;
    background-color: #000;
}
#top_mid ul{
    height: 80px;
    padding: 0 20px;
    overflow: hidden;
    border-right: 1px solid #808080;
    list-style: none;
}
#top_mid ul li{
    height: 80px;
    line-height: 80px;
    float: left;
}
#top_mid ul a{
    padding-left: 14px;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}
#top_mid ul .first a{
    padding: 0;
}
#top_mid ul .last{
    position: absolute;
    right: 14px;
    background: #000;
    color:#fff;
}
#top_mid ul .last a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
#top_mid ul .last a span{
    display: inline-block;
    cursor: pointer;
    border-top: 10px solid  #fff;
    border-right: 6px solid #000;
    border-left: 6px solid #000;
    transition: all .5s;
}
#top_mid ul a:hover{
    color: #ffd000;
}
#last a:hover{
    color: #fff!important;
}
/*-----------------右边部分----------------*/
#top_right{
    width: 480px;
    height: 80px;
    background-color: #000;
    line-height: 80px;
    border-bottom: 1px solid #808080;
}
#top_right a{
    text-decoration: none;
    color: #fff;
}
.app,.search{
    height: 80px;
    line-height: 80px;
    float: left;
    border-right: 1px solid #808080;
    padding: 0 20px;
    color: #fff;
}
.app{ 
    font-size: 14px;
}
.icon-search{
    font-size: 22px;
}
.app:hover{
    color: #ffd000!important;
}
.icon-search:hover{
    color: #ffd000;
}
.right-show{
    color: #fff;
}
.aboutUs{
    font-size: 14px;
    color: #fff;
    margin: 0 12px 0 20px;
}
.aboutUs:hover{
    color: #ffd000!important;
}
.weichat{
    position: relative;
}

.Weibo i,.weichat i{
    font-size: 20px;
    margin-right: 15px;
}
.Weibo i:hover{
    color: #ffd000!important;
}
.weichat i:hover{
    color: #ffd000;
}
.right-report{
    font-size: 14px;
    color: #fff;
}
.right-report:hover{
    color: #ffd000!important;
}
/*-------------------隐藏的微信二维码----------------------*/
#qrcode1{
    width: 160px;
    height: 170px;
    background-color: #ffd000;
    position: absolute;
    top: 35px;
    left: -102px;
    display: none;
}
#qrcode1 span{
    position: absolute;
    top: -20px;
    left: 95px;
    width: 0;
    height: 0;
    border-color: #ffd000 transparent;
    border-width: 0 0 20px 15px;
    border-style: solid;
}
.weichat div img{
    width: 120px;
    height: 110px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #fff;
}
.weichat div p{
    width: 100%;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 25px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
/*--------------------------------------------------------*/

/*-------------------dropDownBox----------------------*/
.dropDownBox{
    height: 104px;
    display: flex;
    background: #000;
    position: relative;
    left: 0;
    top: 80px;
    display: none;
    z-index: 10;
}
.dropDownBox ul{
    margin: 0 auto;
    padding: 0px 0px;
    width: 860px;
    height: 84px;
    /* background-color: red; */
    list-style: none;
}
.dropDownBox ul li{
    float: left;
    width: 170px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    color: #fff;
}
.dropDownBox ul li i{
    font-size: 22px;
}
.dropDownBox ul li:hover{
    color: #ffd000;
    cursor: pointer;
}
/*----------------------------------------------------*/
/*-----------------------enter------------------------*/
.enter{
    width: 100%;
    height: 100%;
    background-color: lightyellow;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.enter .content{
    margin: 120px auto 20px;
    padding: 60px 63px 20px;
    width: 396px;
    height: 500px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    position: relative;
}
.enter .content p{
    font-size: 35px;
    /* font-weight: 00; */
    color: #aaa;
    position: absolute;
    top: 1%;
    right: 5%;
    cursor: pointer;
}
.enter .content .user,.pass{
    width: 100%;
    height: 30px;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
input::placeholder{
    color: #ccc;
}
.enter .content span{
    display: inline-block;
    width: 100%;
    height:30px;
    text-align: right;
}
.enter .content span a{
    text-decoration: none;
    color: gray;
}
.enter .content .btn1{
    width: 68%;
    height: 38px;
    background-color: #ffc81f;
    border-radius: 56px;
    text-align: center;
    margin: 20px 16%;
    border: none;
    color: #fff;
    font-size: 16px;
}
.enter .content .zhuce{
    width: 100%;
    height: 20px;
    text-align: center;
    color: gray;
}
.enter .content .zhuce a{
    text-decoration: none;
    color: grey;
}
.enter .content .line{
    position: absolute;
    height: 1px;
    width: 90%;
    top: 78%;
    left: 5%;
    background-color: #ccc;
}
.enter .content .lineword{
    margin: 0 auto;
    font-size: 10px;
    color: #ccc;
    position: relative;
    top: 55px;
    /* left: 0%/; */
    padding: 0 10px;
    background-color: #fff;
    text-align: center;
    width: 40%;
    height: 20px;
}
.enter .content .bot{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    margin: 65px 0;
    position: relative;
}
.enter .content .bot .bot1,.bot2,.bot3{
    font-size: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
}
.enter .content .bot .bot1{
    background-color: #f3543f;
    left: 0;
}
.enter .content .bot .bot2{
    background-color: #33d319;
    left: 45%;
}
.enter .content .bot .bot3{
    background-color: #198ef2;
    right: 0;
}
/* -------------------------------------------------- */
.top1{
    height: 80px;
}
#top1_img1{
    width: 30%;
    height: 70px;
    margin-left: 35%;
    margin-top: 8px;
}
#top1_img2box{
    width: 100%;
    height: 50px;
    background-color: #000;
}
#top1_img2{
    width: 60%;
    height: 35px;
    margin-left: 20%;
    margin-top: 5px;
}
.top2{
    height: 80px;
    background-color: #000;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.top3{
    height: 80px;
    background-color: #000;
}
.first1{
    line-height: 80px;
}
#first{
    width: 74%;
    height: 70%;
    /* background-color: #ccc; */
    margin-left: 13%;
    margin-top: 90px;
    /* display: none; */
}
.first_1{
    background-color: #eeeeee;
    height: 98%;
    padding-right: 16px;
    padding-left: 0;
}
.banner{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.img li{
    list-style: none;
    float: left;
}
.img img{
    width: 100%;
    height: 100%;
}
.num{
    position: absolute;
    width: 100%;
    left: 45%;
    bottom: 10px;
    text-align: center;
    font-size: 0;
}
.num li{
    float: left;
    width: 8px;
    height: 8px;
    background: rgba(233, 220, 220, 0.8);
    border-radius: 100%;
    margin: 0 5px;
}
.prev,.next{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 50%;
    margin-top: -50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.prev:hover,.next:hover{
    background: rgba(0, 0, 0, 0.6);
}
.prev{
    left: 2%;
}
.next{
    right: 2%;
}
.num .active{
    background-color:#ffc81f;;
}
.hide{
    display: none;
}
#fir_tit{
    width: 90%;
    height: 27%;
    /* background-color: red; */
    z-index: 12;
    position: absolute;
    bottom: 10%;
    left: 2%;
}
#fir_p1{
    display: inline-block;
    padding: 4px 8px;
    background-color: #000;
    height: 20px;
    z-index: 12;
    color: #ffc81f;
    line-height: 12px;
    font-size: 13px;
    /* position: absolute;
    bottom: 40%; */
    margin: 0;
}
#fir_p2{
    margin: 10px 0;
    
  
}
#fir_span1{
    padding: 4px 8px;
    overflow-wrap: break-word;
    white-space:normal;
    background: #000;
    z-index: 12;
    color: #fff;
    font-size: 30px;
    line-height: 47px;
    font-weight: 400;
}
.first_2{
    height: 98%;
    background-color: red;
    padding: 0;
}
#fir2_top{
    width: 100%;
    height: 65%;
    background-color: #eee;
}
#fir2_top img{
    height: 75%;
}
#fir2_btn1{
    width: 100%;
    height: 10%;
    background-color: #ffc81f;
    text-align: center;
    line-height: 1.6;
    font-size: 14px;
    color: #000;
    border: none;
    outline: none;
}
#fir2_top p{
    width: 100%;
    height: 12%;
    background-color: #fff;
    color: #848484;
    font-size: 14px;
    text-align: center;
    line-height: 2.4;
}
#fir2_foot{
    width: 100%;
    height: 35%;
}
.top_2,.top_21{
    height: 70%;
}
.k_box{
    padding-left: 0;
    margin: 0;
    margin-top: 15px;
    height: 62%;
}
.k_box2ele{
    padding-right: 1.5%!important;
}
.k_b1{
    padding-right:14px;
}
.k_b2{
    padding-right: 0;
}
.k{
    width: 100%;
    height: 60%; 
}
.iconfont_1,.iconfont_12{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #fff;
    z-index: 2;
    text-align: center;
    line-height: 24px;
    position: absolute;
    top: 6%;
    font-size: 15px;
    color: #ccc;
}
.iconfont_1{
    left: 4%;
}
.iconfont_12{
    left: 2%;
}
.type,.type_2{
    width: 50px;
    height: 12px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 7%;
    z-index: 10;
}
.type{
    left: 16%;
}
.type_2{
    left: 8.5%;
}
.mid_word{
    padding: 15px 10px;
    width: 100%;
    height: 25%;
    background-color: #fff;
    /* margin-top: 5%; */
    color: #000;
    font-size: 16px;
    overflow: hidden;
}
.mid_word p{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.mid_word_2{
    padding: 0 10px;
    width: 100%;
    height: 25%;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    overflow: hidden;
}
.mid_word_2 span{
    font-size: 20px;
    padding: 4px 8px;
    overflow-wrap: break-word;
    white-space: normal;
    background: #000;
    line-height: 35px;
    color: #fff;
}
.k2{
    width: 100%;
    height: 12%;
    background-color: #fff;
}
.time1{
    color: #666;
    line-height: 2.5;
    padding-left: 10px;
    float: left;
}
.iconfont_2{
    font-size: 17px;
    color: #d1d1d1;
    float: left;
    line-height: 2.2;
    position: absolute;
    right: 38%;
}
.iconfont_21{
    font-size: 17px;
    color: #d1d1d1;
    float: left;
    line-height: 2.2;
    position: absolute;
    right: 34%;
}
.iconfont_22{
    font-size: 17px;
    color: #d1d1d1;
    float: left;
    line-height: 2.2;
    position: absolute;
    right: 18%;
}
.footword21,.footword22,.footword31,.footword32,.footword11,.footword12{
    float: left;
    font-size: 14px;
    color: #d1d1d1;
    line-height:2.8;
    position: absolute;
}
.footword21{
    right: 27%;
}
.footword22{
    right: 6%;
}
.footword31{
    right: 15%;
}
.footword32{
    right: 3%;
}
.footword12{
    right: 9%;
}
.footword11{
    right: 31%;
}
.icon-aixin{
    color: #d1d1d1;
    line-height: 2.5;
    padding-left: 10px;
    float: left;
    position: absolute;
    right: 19%;
}
.ia2{
    margin-left: 1%;
}
.ia3{
    right: 8%;
}
.icon1{
    right: 15%
}
.icon2{
    right: 16%
}
.thir_1{
    height: 70%;
    padding-left: 0;
    margin-top: 5px;
}
#thir_11,#shadow6{
    width: 100%;
    height: 100%;
}
#shadow6{
    height: 97%;
}
#thir_12{
    width: 8%;
    height: 17%;
    position: absolute;
    top: 6%;
    left: 3%;
}
#shadow61{
    width: 8%;
    height: 15%;
    position: absolute;
    top: 7%;
    left: 4%;
}
#thir_13{
    width: 12%;
    height: 35%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 6%;
}
#shadow62{
    width: 15%;
    height: 37%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 6%;
}
#thir_span1{
    width: 100%;
    height: 50%;
    font-size: 72px;
    text-align: center;
    color: #ffc81f;
    display: inline-block;
    line-height: 1;
}
#shadow621{
    width: 100%;
    height: 30%;
    font-size: 65px;
    text-align: center;
    color: #ffc81f;
    display: inline-block;
    line-height: 1;
}
#thir-131{
    font-size: 20px;
    font-weight: 700;
    margin-top: -58%;
    text-align: center;
    color: #ffc81f;
}
#shadow622{
    font-size: 18px;
    margin-top: -58%;
    text-align: center;
    color: #ffc81f;
}
#thir_132{
    width:100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 3.8;
    font-weight: 700;
    color: #ffc81f;
    font-size: 20px;
}
#shadow623,#shadow624{
    width:100%;
    height: 25%;
    position: absolute;
    left: 0;
    text-align: center;
    line-height: 3.8;
    color: #fff;
    font-size: 16px;
}
#shadow623{
    font-weight: 700;
    bottom: 20%;
}
#shadow624{
    bottom: 0%;
    font-size: 14px;
}
#thir_14{
    width: 98%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 12px 25px;
}
#shadow63{
    width: 100%;
    height: 25%;
    position: absolute;
    left: 0;
    bottom: 2.7%;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 12px 25px;
}
#thir_141{
    width: 80%;
    height: 40%;
    font-size: 20px;
    color: #fff;
    margin-top: 0;
}
#shadow631{
    width: 100%;
    height: 40%;
    font-size: 20px;
    color: #fff;
    margin-top: 0;
}
#thir_14 p{
    width: 80%;
    height: 40%;
    font-size: 14px;
    color: #ccc;
}
#shadow63 p{
    width: 100%;
    height: 40%;
    font-size: 14px;
    color: #fff;
    margin-top: 0;
}
.thir_2{
    height: 70%;
    background-color: red;
    margin-top: 5px;
    background: url('../img/thir_3.png')no-repeat;
    background-size: 100% 100%;
}
.k_box2{
    margin-top: 15px;
    height: 62%;
    /* background-color: red; */
    padding-left: 0;
    padding-right: 0;
}
img{
    width: 100%;
    height: 100%;
}
.sca{
    overflow: hidden;
}
.sca img{
    width: 100%;
    height: 100%;
    transition: all 0.6s;  
}
.sca img:hover{
    transform: scale(1.1);  
}
